<div class="user-details">
  <h1> About me </h1>
  I am currently a research assitant at
  <strong>Institute of Physics, CAS</strong>. You can download my cv
  <strong>
    <a href="https://github.com/Roger-luo/cv/releases/download/v0.1/cv.pdf">
      here
    </a>
  </strong>

  <h3 style="margin-bottom: 0.2em;margin-top: 0.2em;"> Research Interests </h3>
  <p>
    <span>
      <strong style="color:brown">Machine Learning</strong>,
      <strong style="color:darkblue">Quantum Information</strong>,
      <strong style="color: green">Computer Science</strong>,
      <strong style="color:rebeccapurple">Condensed Matter Physics</strong>
    </span>
  </p>

  <p>
    I am quite interested in finding the ground state of a quantum hamiltonian recently. I also write softwares and libraries
    for researchers and myself.
  </p>

  <h3 style="margin-bottom: 0.2em;margin-top: 0.2em;"> Programming </h3>
  <div class="user">
    <div class="tech">
      <i class="devicon-python-plain-wordmark"></i>
      <i>
        <img alt="julia" style="height: 80px;" src="{{ " /assets/img/three-balls.png " | prepend: site.baseurl }}" />
      </i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-c-line colored"></i>
      <p>
        My favorite language is
        <strong>
          <a href="https://julialang.org">Julia</a>
        </strong> at the moment. I also use
        <strong>Python</strong>,
        <strong>C/C++</strong> quite often. I also writes <strong>CUDA</strong> for GPUs sometimes. I don't and won't use
        <strong>Fortran</strong> and
        <strong>R</strong>.
      </p>
    </div>
  </div>

  <p>
    For editors, I use
    <a href="https://code.visualstudio.com/">code</a> more often, but I also use sublime and vim. Emacser, BITE ME.
  </p>

  <h3 style="margin-bottom: 0.2em;margin-top: 0.2em;"> Life </h3>
  <div class="user">
    <div class="tech">
      <i>
        <img alt="hiking" style="height: 80px;" src="{{ " /assets/img/mountain-summit.png " | prepend: site.baseurl }}" />
      </i>
      <i>
        <img alt="cooking" style="height: 80px;" src="{{ " /assets/img/cooking.png " | prepend: site.baseurl }}" />
      </i>
      <i>
        <img alt="kungfu" style="height: 80px;" src="{{ " /assets/img/kung-fu.png " | prepend: site.baseurl }}" />
      </i>
      <i>
        <img alt="painting" style="height: 80px;" src="{{ " /assets/img/paint-palette.png " | prepend: site.baseurl }}" />
      </i>
    
      <p>
        Besides research, I also do
        <strong>painting</strong>,
        <strong>hiking</strong> and
        <strong>Kungfu</strong> (Bagua Zhang). I was once on the way to becoming a professional painter, but I chose physics later. I am
        born in Urumqi, the center of Asia. The cover background is the mountain right behind my hometown. I love cooking, I can
        cook a lot dishes myself.
      </p>

    </div>
  </div>

  <p>
    I also write articles and answers on the zihhu (Chinese version of Quora). Follow me
    <a href="https://www.zhihu.com/people/luo-xiu-zhe/">here</a>
  </p>
</div>